/sources/apk-API*/.classpath
/sources/apk-API*/.project
/sources/apk-API*/bin
/sources/apk-API*/gen
/sources/apk-API*/libs
/sources/apk-API*/assets
/sources/apk-API*/local.properties
/sources/assets/mdown-parse-pegjs/node_modules
/requirements/rhino*.jar
/eclipse-files-API*.zip
/xtd-API*-*.apk
*.swp
