sources/apk-API*/.classpath
sources/apk-API*/.project
sources/apk-API*/bin
sources/apk-API*/gen
sources/apk-API*/libs
sources/apk-API*/assets/*.js
sources/apk-API*/local.properties
sources/eclipse-files-API*.zip
sources/xtd-API*-*.apk
